Article Revision3/
Memoire_Nicodeme/
Source_code_output/src/bak/
Working files/
Source_code_output/books_objects
Source_code_output/corrected_occurrences
Source_code_output/csv
Source_code_output/graphs
Source_code_output/png
Source_code_output/serialized
main.pdf
python2/
supplemental/
*.pyc
*.BOOK
*.csv
*.NUMBERS
*.gexf
*.JSON
*.png
*.gz
*.bak

